$button-color: #FF6000;
$text-color: #ffffff;
$border-radius-button: 10px;
$font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

