.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.listItem {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 15% 60%;
  column-gap: 10%;
  position: relative;

  &__delete-icon {
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
    color: #FF6000;
  }

  &:hover {
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 1rem;
    cursor: pointer;

  }

}

.voteNumber {
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  height: 5.5rem;
  width: 5.5rem;
}

.vote-button {
  & > svg {
    margin-left: 1rem;
    width: 1rem;
    color: gray;
  }

  display: flex;
  align-items: center;
  padding: 0.50rem;
  margin-top: 0.2rem;
  &:hover {
    background-color: lightgray;
    border-radius: 1rem;

  }
}

.voteDetails {

  &__name {
    font-weight: bold;
  }

  &__url {
    color: gray;
    margin-top: 0.2rem;
  }
}